body {
    font-family: 'Fantasy', copperplate;
    font-size: 40px;
    background-image: linear-gradient(rgb(136, 134, 134), rgb(17, 12, 12));
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Fantasy', copperplate;
    color: rgb(231, 45, 45);
    font-size: 40px;
}

.scores {
    text-align: center;
    font-size: 40px;
}

.cdisplay {
    text-align: center;
    font-size: 40px;
}

#quizContent {
    text-align: center;
    padding: 12px;
}

#quiz {
    text-align: center;
}

button {
    border: solid white;
    background-color: #d11508;
    color: white;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    font-family: 'Fantasy', copperplate;
    margin: 4px;
}

button:hover {
  font-size: 30px; 
  background-color: #00b809;
}

.card {
    display: block;
    background-image: linear-gradient(rgb(136, 134, 134), rgb(17, 12, 12));
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(245, 32, 3, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
  }
  
  li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-image: linear-gradient(rgb(136, 134, 134), rgb(17, 12, 12));
    color: white;
    font-size: 20px;
    font-family: 'Fantasy', copperplate;
    line-height: 1.5;
  }
  
  li:before {
    content: "\200B";
    position: absolute;
  }
  
  li::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #fd190d;
    color: white;
    font-size: 20px;
    font-family: 'Fantasy', copperplate;
    border: 1px solid #eceff1;
  }
  